
nav.navbar.navbar-expand-lg.bg-body-tertiary {
    background: rgb(18, 10, 117) !important;
 
}
.copy-right {
    background: green;
    margin-left:-120px ;
    width: 1350px;
}
.footer-top{
    background-color: blueviolet;
    width: 121%;
    margin-left: -120px;
}
.row.footer-top ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.row.footer-top ul li a {
    color: #ffff;
    text-decoration: none;
}

.row.footer-top {
    padding: 29px;
    color: #fff;
}
.copy-right p{
color:#fff
}
footer.footer-area {
    margin-top: 150px;
}
footer.footer-area .title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 22px;
}
section.card-area {
    margin-top: 80px; 
}
.progress-bar {
    margin: 2px;
}
nav .container-fluid a img{
    width: 50px;
    height: 50px;
    position: relative;
    margin-left: 30px;
    
}
.carousel-inner  img{
    height: 400px;
}
.nav-item1 i{
 margin-top: 12.5px;
 margin-left: 50px;
 color: rgb(184, 189, 206) !important;

}
.nav-item a{
margin-left: 30px;
color: rgb(184, 189, 206) !important;
}
.col-md-4 img {
    height: 294px;

}
